{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

 <ul>
        {% for post in posts %}
        <li>{{ post.name }}</li>
        <a href="{{ path('security_question') }}">Question</a>
        {% endfor %}
    </ul>

{% endblock %}