{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}

 <ul>
        {% for post in posts %}
        <li>{{ post.question }}</li>
        
        {% endfor %}

        {% for bob in bobs %}
        
        <li>{{ bob.reponse }}</li>
        <a href="{{ path('security_reponse') }}">Choice</a>
        {% endfor %}
    </ul>

{% endblock %}