{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

 <ul>
        {% for post in posts %}
        <li>La bonne reponse est : {{ post.reponse }}</li>
        {% endfor %}
    </ul>

{% endblock %}